

body {
	color:#333;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size:11px;
	width:100%;
padding:0;
margin:0;
background-color: #6fb1c7;
}
img{width:100%;display: block}
ul, li{list-style-type: none; margin:0; padding:0;}
li{display:list-item;}
textarea{resize:none;width:100%;overflow:hidden;border:0;outline:0;margin:0;padding:3px;height:20px;line-height:1.28em;display:block;font-size:11px;font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
-webkit-appearance: none;
-webkit-box-sizing: border-box;
/*font: -webkit-small-control;*/
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;

}
.textWrap{padding-right:35px;}
.innerTextWrap{border:solid 1px #aaa;line-height:1.28em;}
#view-wrapper{width:100%; overflow: hidden; height:auto;}

#main-box{
	width:50%;
	
	margin:0 auto;
	background-color: #fff;;
}
.content-wrap{padding:10px;}
.img-box{
	
}
.more-box{background-color:#fbf2b2}
.uiCommentWrap{padding:4px; background-color:#e1e1e1;}
.commentRowLi{margin-top:1px;}
.cardImg{width:32px;}
.clearFloat{clear:both;overflow:hidden;}
.leftFloat{float:left;}
.rightFloat{float:right;}
.commentBox{padding-left:40px;}
.cName{font-weight:bold; color:#3b5998;}
.uci{padding-top:3px; color:#666;}

@media screen and (max-width:1000px){
	#main-box{
	width:100%;
}
	
	
	
	
	
	
}
